<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
       <add name="SUPERMARKETConnectionString" connectionString="workstation id=programacion3.mssql.somee.com;packet size=4096;user id=aleCenteno_SQLLogin_1;pwd=cqrlyyn7lw;data source=programacion3.mssql.somee.com;persist security info=False;initial catalog=programacion3"
            providerName="System.Data.SqlClient" /> 
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
